* {
  font-family: Roboto;
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
}

.logo-home-page {
  height: 14%;
  position: absolute;
  top: 11%;
}

.input-name {
  width: 71%;
  height: 9%;
  font-size: 2.7vh;
  line-height: 25px;
  color: #000000;
  text-align: center;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  position: absolute;
  top: 40%;
}

.input-name:placeholder {
  color: #AEAEAE;
}

.button-enter-name {
  width: 30%;
  height: 7%;
  background: #E7E7E7;
  color: #696969;
  font-size: 2.7vh;
  line-height: 25px;
  border: none;
  border-radius: 9px;
  position: absolute;
  top: 51%;
  margin-bottom: 44%;
}

.home-page-background {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}